html{
    min-height: 100%;
    background: linear-gradient(rgb(34, 0, 156),transparent),
    linear-gradient( to top left, rgb(236, 137, 6),transparent),
    linear-gradient( to top right, rgb(107, 1, 206),transparent);
}
body{
    background-color: rgba(245, 245, 220, 0);
}